/node_modules
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
aliases
Vagrantfile
.vercel
*.DISABLED

/DISABLEDpublic/hot
/DISABLEDpublic/storage
/DISABLEDpublic/css
/DISABLEDpublic/js
/DISABLEDpublic/mix-manifest.json
